<aside class="sidebar expand">
    <div class="d-flex justify-content-between p-4">
        <div class="sidebar-logo">
            <a href="/">
                <img src="~/assets/logo.png" alt="e-Agenda" width="100px">
            </a>
        </div>
        <button class="toggle-btn border-0" type="button">
            <i class="bi bi-chevron-double-left toggle-btn-icon"></i>
        </button>
    </div>
    <ul class="nav flex-column sidebar-nav gap-2 ms-auto">
        <li class="nav-item">
            <a class="nav-link nav-title fw-semibold" href="/">
            <i class="bi bi-house-fill"></i>
            <span>Página Inicial</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link nav-title fw-semibold collapsed has-dropdown" href="#" data-bs-toggle="collapse" data-bs-target=".exemplo" aria-expanded="false">
                <i class="bi bi-bandaid"></i>
                <span>Exemplo</span>
                <i class="bi bi-chevron-down ms-auto dropdown-arrow"></i>
                <i class="bi bi-chevron-right ms-auto right-arrow"></i>
            </a>
            <ul class="nav-dropdown exemplo list-unstyled collapse" data-bs-parent=".sidebar-nav">
                <li class="nav-item">
                    <a class="nav-link nav-option fw-semibold my-1" href="/">
                        <span>Home</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-option fw-semibold my-1" href="/">
                        <span>Cadastrar</span>
                    </a>
                </li>
            </ul>
        </li>
    </ul>
</aside>