@using eAgenda.Dominio.ModuloCompromisso
@using eAgenda.WebApp.Models
@using static eAgenda.Dominio.ModuloCompromisso.Compromisso
@model CadastrarCompromissoViewModel

@{
    ViewBag.Titulo = "Cadastro de Compromisso";
}

<hr class="border border-dark opacity-25" />

<div class="d-flex flex-wrap justify-content-between my-5 gap-1">
    <div class="col-12 col-md-6 align-self-center m-auto">
        <div class="card rounded-4 border-0">
            <div class="card-body p-md-4">
                <form asp-action="Cadastrar" method="post">
                    <h3>Formulário de Cadastro</h3>

                    <div class="form-group d-grid mt-2">
                        <label asp-for="Assunto" class="form-label fs-5">Assunto:</label>
                        <input asp-for="Assunto" class="form-control" />
                        <span asp-validation-for="Assunto" class="text-danger d-block mt-2"></span>
                    </div>

                    <div class="form-group d-grid mt-2">
                        <label asp-for="DataOcorrencia" class="form-label fs-5">Data:</label>
                        <input asp-for="DataOcorrencia" type="date" class="form-control" />
                        <span asp-validation-for="DataOcorrencia" class="text-danger d-block mt-2"></span>
                    </div>

                    <div class="form-group d-grid mt-2">
                        <label asp-for="HoraInicio" class="form-label fs-5">Hora Início:</label>
                        <input asp-for="HoraInicio" type="time" class="form-control" />
                        <span asp-validation-for="HoraInicio" class="text-danger d-block mt-2"></span>
                    </div>

                    <div class="form-group d-grid mt-2">
                        <label asp-for="HoraTermino" class="form-label fs-5">Hora Término:</label>
                        <input asp-for="HoraTermino" type="time" class="form-control" />
                        <span asp-validation-for="HoraTermino" class="text-danger d-block mt-2"></span>
                    </div>

                    <div class="form-group d-grid mt-2">
                        <label asp-for="TipoCompromisso" class="form-label fs-5">Tipo:</label>
                        <select asp-for="TipoCompromisso" asp-items="Html.GetEnumSelectList<TipoCompromisso>()" class="form-select"></select>
                        <span asp-validation-for="TipoCompromisso" class="text-danger d-block mt-2"></span>
                    </div>

                    <div class="form-group d-grid mt-2">
                        <label asp-for="Local" class="form-label fs-5">Local:</label>
                        <input asp-for="Local" class="form-control" />
                        <span asp-validation-for="Local" class="text-danger d-block mt-2"></span>
                    </div>

                    <div class="form-group d-grid mt-2">
                        <label asp-for="Link" class="form-label fs-5">Link:</label>
                        <input asp-for="Link" class="form-control" />
                        <span asp-validation-for="Link" class="text-danger d-block mt-2"></span>
                    </div>

                    <div class="form-group d-grid mt-2">
                        <label asp-for="ContatoId" class="form-label fs-5">Contato:</label>
                        <select asp-for="ContatoId" class="form-select">
                            <option value="">(Nenhum)</option>
                            @foreach (var contato in Model.Contatos)
                            {
                                    <option value="@contato.Value">@contato.Text</option>
                            }
                        </select>
                        <span asp-validation-for="ContatoId" class="text-danger d-block mt-2"></span>
                    </div>

                    <div class="form-group d-flex align-items-center justify-content-end gap-3 mt-3">
                        <a href="/compromissos" class="btn btn-outline-primary rounded-3 px-2">Cancelar</a>
                        <button type="submit" class="btn btn-primary rounded-4 px-5">Confirmar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
