@{
	ViewBag.Titulo = "Home";
}

<div class="d-flex justify-content-center">
	<h1 class="my-5">Hello, World!</h1>
</div>

<div class="d-grid d-lg-flex flex-wrap gap-3 mt-3">
	<a href="/categorias" class="btn fw-semibold px-5 rounded-3">Categoria</a>
</div>

<div class="d-grid d-lg-flex flex-wrap gap-3 mt-3">
	<a href="/despesas" class="btn fw-semibold px-5 rounded-3">Despesa</a>
</div>